<!-- Navbar -->
<div class='container'>
<h1>Create a Survey!</h1>
<form action="/create_survey" method='post' enctype='multipart/form-data'>
  <label>Title<input id="speechInput" type="text" x-webkit-speech />
    <!-- <input type="text" name="title" placeholder="Enter Survey Title"> -->
  </label>
  <button class='add-question cool-button'>Add Question</button> <br><br>
  <label for="file">upload a photo for your survey</label> <br>
  <input type="file" name='file'>

<div class='survey-form'>

  <!-- Add Question Button -->


</div>
<br><br><br>
<input type="submit" value='Create my Survey!' class='cool-button'>
</form>
</div>
