<!-- Navbar -->
<div class='container'>
<h1>Create a Survey!</h1>
<form action="/create_survey" method='post'>
  <label>Title<input type="text" name="title" placeholder="Enter Survey Title"></label>
  <button class='add-question cool-button'>Add Question</button>

<div class='survey-form'>

  <!-- Add Question Button -->
  

</div>
<br><br><br>
<input type="submit" value='Create my Survey!' class='cool-button'>
</form>
</div>
