<!-- Navbar -->
<div class='container'>
<h1>Create a Survey!</h1>

<form action="/create_survey" method='post' enctype='multipart/form-data'>

<input type="submit" value='Create Survey!' class='cool-button button-right'>
<div class='clear-float'></div>
<button class='add-question cool-button button-right'>Add Question</button>

  <input id="speechInput" type="text" name='title' x-webkit-speech placeholder='Title'/>
  <br>
  <label for="file">Upload a photo for your survey:</label>
  <input type="file" name='file'>
  <br>

  <br>
  <br>

  <div class='survey-form'>


  </div>

<br><br><br>

</form>
</div>
