<div class="container">

<% if session[:signup_error] %>
  <p class="error"> <%= session[:signup_error] %> </p>
<% end %>

<form action="/signup" method="POST">
  <input type="text" name="user[name]" placeholder="Name"><br>
  <input type="text" name="user[email]" placeholder="Email"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input type="password" name="password_confirmation" placeholder="Confirm Password"><br>
  <input type="submit" value="Submit" class='cool-button'>
</form>


</div>
