<div class = "container">

  <h2 class='category-name'>Surveys You've Taken</h2>
	<ul class='link-list'>
		<% surveys_list = [] %>
	  <% current_user.taken_surveys.each do |survey| %>
		  <% unless surveys_list.include?(survey.id) %>
			  <% surveys_list << survey.id %>
		    <li><a href="/statistics/<%=survey.id%>"><%= survey.title %></a></li>
		  <% end %>
	  <% end %>
	</ul>


  <h2 class='category-name'>Surveys You've Created</h2>
	<ul class='link-list'>
	  <% current_user.authored_surveys.each do |survey| %>
	    <li><a href="/statistics/<%= survey.id %>"><%= survey.title %></a></li>
	  <% end %>
	</ul>

</div>