<div class = "container">

  <h1> THIS IS THE STATISTICS PAGE </h1>

  <%survey = current_survey %>
  <% questions = survey.questions %>
  <% count = 1 %>
  <div class='data'>

      <% questions.each do |question| %>
      <table class='question-table'>
        <p> Question <%=count%>: <%=question.text%></p>
        <% choices = question.choices %>

        <% choices.each do |choice| %>
        <tr>
          <td class='choice-label'><%= choice.text%></td><td class='data-cell'><%= choice.percent_answered(survey) %></td>
        </tr>
        <%end%>
      </table>
      <div class="graph"><h3></h3></div>
      <% count +=1 %>

      <%end%>
    
  </div>
</div>
