<div class = "container">

<h1> THIS IS THE STATISTICS PAGE </h1>

<% questions = current_survey.questions %>
<!-- <% count = 1 %> -->
<% questions.each_with_index do |question, index| %>
  <h4> Question <%=index + 1%>: <%=question.text%></h4>
  <% choices = question.choices %>
  <% choices.each do |choice| %>
    <p> Choice <%= choice.text%>: <%= choice_percentage(choice) %>%</p>
  <%end%>
<%end%>

</div>
