<div class="container">

  <% surveys = Survey.all %>
  <ul class='link-list'>
  <% surveys.each do |survey| %>

  <li><a href = "/survey/<%=survey.id%>"><span><% if survey.photo  %><img src="/uploads/<%= survey.photo %>" alt="didn't work" height='50px' width='37px'><% end %></span><%=survey.title%></a></li>
  <%end%>
  </ul>

</div>
